* {
    margin: 0;
    padding: 0;
}
body.home {
    background-color: #dcdcdc;
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
}
p {
    margin: 0;
    color: #000;
}
img {
    border-radius: 5px;
}
/* menu */
#header {
    background-color: #000;
}
.container-fluid.top {
    position: fixed;
    background-color: #585858;
    z-index: 6;
    top: 0;
}
.img-logo {
    width: 200px !important;
}
nav.navbar.navbar-expand-md.bg-black.navbar-dark {
    padding: 0;
    margin: 0;
}
.navbar .menu-item a:hover {
    color: #ff0000 !important;
    background-color: #fff;
}
.navbar .menu-item a {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff !important;
    text-decoration: none;
    display: block;
    padding: 8px;
}
.navbar .menu-item:hover .menu-subnav {
    display: block;
}
.navbar .menu-item.active_menu a {
    color: #ff0000 !important;
    padding: 8px;
}
.navbar .menu-item.active_menu a:hover {
    color: #2a2a2a !important;
}
nav.navbar.navbar-expand-sm.bg-black.navbar-dark {
    padding: 0;
}
ul.navbar-nav.ml-auto {
    margin-top: 50px;
    position: relative;
    font-size: 16px;
    float: right;
}
.menu-subnav .menu-subnav-item {
    border-bottom: 1px solid #fff;
}
li.menu-subnav-item {
    min-width: 150px;
}

li.menu-subnav-item:hover {
    background-color: #fff;
}

.menu-subnav .menu-subnav-item a {
    font-weight: 100;
    font-size: 14px;
}
.navbar .menu-subnav {
    position: absolute;
    list-style: none;
    background-color: #a9a9a9;
    display: none;
    z-index: 9;
    border-radius: 0 5px 5px 5px;
    white-space: nowrap;
}
/* hÃ¡ÂºÂ¿t menu */
/* content Ã¡ÂºÂ©m thÃ¡Â»Â±c */
.content {
    margin-bottom: 64px;
    margin-top: 88px;
}
.col-12 {
    padding: 0;
}
.topic-box {
    position: relative;
    margin-bottom: 10px;
}
.topic-content {
    content: "";
    background-color: #0089ff;
    width: 15%;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.topic-box:after{
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    background-color: #0089ff;
    width: 100%;
}
.img-1 {
    width: 100%;
    height: 393px;
    object-fit: cover;
}

.col-lg-6.col-md-12 {
    padding: 0 0px;
}
.content-img {
    margin-top: 10px;
    cursor: pointer;
}

.img-2 {
    width: 100%;
    height: 195px;
    object-fit: cover;
}

.col-sm-6.col-12 {
    padding: 0px 1px;
}

.row {
    margin-left: 1px;
    margin-right: 1px;
}
a.font-1 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
a.font-2 {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.col-xl-8.col-lg-5.col-md-12.col-sm-12 {
    padding-right: 0;
}
/* hÃ¡ÂºÂ¿t content Ã¡ÂºÂ©m thÃ¡Â»Â±c */
/* thÃ¡Â»Âi trang vÃƒÂ  lÃƒÂ m Ã„â€˜Ã¡ÂºÂ¹p */
.img-4 {
    height: 460px;
    width: 100%;
    object-fit: cover;
}
.topic-box1 {
    position: relative;
    margin-bottom: 10px;
    margin-right: 15px;
}
.topic-box1:after{
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    background-color: #0089ff;
    width: 100%;
}
.col-xl-4.col-lg-7.col-md-6.col-sm-12 {
    padding-left: 0;
}
.col-xl-4.col-lg-6.col-md-4.col-6 {
    padding-left: 0;
}
.col-xl-4.col-lg-7.col-md-12.mb-3 {
    padding-left: 0;
}
.topic-content2 {
    content: "";
    background-color: #0089ff;
    width: 40%;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.col-xl-8.col-lg-5.col-md-6.col-sm-12 {
    padding: 0;
}
.col-xl-4.col-lg-6.col-md-6.col-sm-4.col-6 {
    padding-left: 0;
}
.topic-content3 {
    content: "";
    background-color: #0089ff;
    width: 20%;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.img-6 {
    width: 100%;
    object-fit: cover;
    height: 135px;
}
/* tab-3 */
.img-6-2 {
    height: 257px;
    width: 100%;
    object-fit: cover;
    margin: 5px 0;
}
.category:before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 96%;
    width: 99%;
    top: 0px;
    left: 1.5px;
    right: 0;
    z-index: 1;
    margin: 5px 0;
    border-radius: 5px;
}
h3.text-category {
    font-size: 20px;
    text-align: center;
}
.content-t3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 30%;
}
.text-content {
    color: #fff;
    font-size: 14px;
}
a {
    color: #fff;
    text-decoration: none !important;
}
a:hover {
    color: #0089ff;

}
/* footer */
footer {
    color: #fff;
    background-color: #14141b;
    padding-top: 16px;
}
.logo-footer img {
    width: auto;
}
.img-fuild {
    max-width: 100%;
    height: auto;
}
.col-12.col-md-4 {
    padding: 0 15px;
}
.hearding {
    color: #ffd700;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
a.cat-item {
    margin: 0 3px 6px 0;
    display: inline-block;
    background-color: rgba(255,255,255,.20);
    font-size: 12px;
    letter-spacing: 1px;
    padding: 3px 10px;
}
.footer-info {
    border-top: 1px solid;
    padding: 16px 0;
    justify-content: center;
    display: flex;
}

.event {
    margin-bottom: 15px;
}

.topic-content4 {
    content: "";
    background-color: #0089ff;
    width: 40%;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

img.img-event {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.describe {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 0 15px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
}

.date {
    padding: 10px 15px;
}

.text {
    box-shadow: 0px 5px 15px rgb(66 79 128 / 30%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.topic-box3 {
    position: relative;
    margin-bottom: 10px;
    margin-right: 15px;
}

.topic-box3:after{
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    background-color: #0089ff;
    width: 100%;
}

.accordion-header {
    padding: 10px 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeef1;
    cursor: pointer;
}

.accordion-body {
    padding: 10px 20px;
    display: none;
    background-color: #fff;
}

h2 {
    margin: 0;
    font-size: 22px;
}

.row.tab-5 {
}

.accordion {
    width: 100%;
    box-shadow: 0px 5px 15px rgb(66 79 128 / 30%);
    margin-bottom: 30px;
}

.accordion-item.active .accordion-header {
    background-color: #f2f6fb;
    color: #38a7ff;
}

.accordion-item.active .arrow {
    transform: rotate(90deg);
}
.arrow {
    transition: all 0.3s;
}

i.fas.fas.fa-bookmark {
    padding: 6px 8px;
    background-color: #e9ecf1;
    border-radius: 100px;
    margin-right: 10px;
}

.title-video, .video {
    padding: 5px;
}

h1 {
    color: #38a7ff;
}

iframe {
    border-radius: 5px;
    width: 100%;
}